{% extends "::base.html.twig" %}

{% block title %}AppBundle:Filtre:listerRecettesParSymptomeProduit{% endblock %}

{% block body %}
  <h2>recherche:</h2>
  <br>
  {{ form(monForm) }}
  <hr>
  <br>
  Filtre par Produit: {{ filtreProd }} <br>
  Filtre par symptome: {{ filtreSympt }} <br>
  <hr>
  <h2>résultats:</h2>
  <br>
  {% for rec in recettes %}
    {{ rec.nom }}<br>
  {% endfor %}

{% endblock %}
